.start-box {
    .fa-star{
        color: var(--grey);
    }

    .fa-star.checked {
        color: #dfac50;
        margin: 0 1px;
    }

    .patient{
        font-weight: 300;
        font-size: 14px;
    }
}
