:root {
    --green: #4ac0a4;
    --gold: #bc2d5f;
    --grey: #333333;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

.app-root {
    // @include horizontal-list;
    // color: var(--green);
    max-width: 1170px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
}
